<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar">

  <!-- Mini sidebar (desktop only) -->
  <aside class="mini-sidebar d-none d-lg-flex" id="miniSidebar">
    <a class="mini-sidebar-item p-nav-link" th:href="@{/user}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/profile.png}" alt="Profile">
      <span class="mini-sidebar-label">Profile</span>
    </a>

    <a class="mini-sidebar-item p-nav-link" th:if="${isAdmin}" th:href="@{/admin}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/users.png}" alt="Users">
      <span class="mini-sidebar-label">Users</span>
    </a>

    <a class="mini-sidebar-item p-nav-link" th:href="@{/transports}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/transport.png}" alt="Transports">
      <span class="mini-sidebar-label">Transports</span>
    </a>

    <a class="mini-sidebar-item p-nav-link" th:href="@{/accommodations}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/accommodation.png}" alt="Accommodations">
      <span class="mini-sidebar-label">Accomm.</span>
    </a>

    <a class="mini-sidebar-item p-nav-link" th:href="@{/trips}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/trip.png}" alt="Trips">
      <span class="mini-sidebar-label">Trips</span>
    </a>

    <a class="mini-sidebar-item p-nav-link" th:href="@{/bookings}">
      <img class="sidebar-icon-img" th:src="@{/img/icons/booking.png}" alt="Bookings">
      <span class="mini-sidebar-label">Bookings</span>
    </a>
  </aside>

  <!-- Drawer sidebar (opens over everything) -->
  <div class="offcanvas offcanvas-start planora-dark sidebar-drawer"
       tabindex="-1"
       id="sidebar"
       aria-labelledby="sidebarLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarLabel">Navigation</h5>
      <button type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">
      <nav class="sidebar-nav" id="drawerSidebarNav">
        <a class="sidebar-link p-nav-link" th:href="@{/user}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/profile.png}" alt="Profile">
          <span>Profile</span>
        </a>

        <a class="sidebar-link p-nav-link" th:if="${isAdmin}" th:href="@{/admin}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/users.png}" alt="Users">
          <span>Users</span>
        </a>

        <a class="sidebar-link p-nav-link" th:href="@{/transports}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/transport.png}" alt="Transports">
          <span>Transports</span>
        </a>

        <a class="sidebar-link p-nav-link" th:href="@{/accommodations}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/accommodation.png}" alt="Accommodations">
          <span>Accommodations</span>
        </a>

        <a class="sidebar-link p-nav-link" th:href="@{/trips}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/trip.png}" alt="Trips">
          <span>Trips</span>
        </a>

        <a class="sidebar-link p-nav-link" th:href="@{/bookings}">
          <img class="sidebar-icon-img" th:src="@{/img/icons/booking.png}" alt="Bookings">
          <span>Bookings</span>
        </a>
      </nav>
    </div>
  </div>

</div>

</body>
</html>
